    html,
    body {
        height: 100%;
        background-color: red;
    }
    
    .container {
        min-height: 100%;
    }
    
    section {
        overflow: auto;
        padding-bottom: 150px;
        /* this needs to be bigger than footer height*/
    }
    
    footer {
        position: relative;
        margin-top: -150px;
        /* negative value of footer height */
        height: 150px;
        clear: both;
        padding-top: 20px;
    }
